---
title: Product Template
---

{% include _header.html %}

<section class="container">

	<form class="bioSigAnswers col-xs-12">
		<p>Enter the code supplied on the email, to reveal the users Biosigniture results.</p>
		<input id="easyInput" type="text" class="col-xs-12 form-control" placeholder="Add code">
		<button class="btn do-submitBioSig col-xs-5" type="button">Submit</button>
	</form>

	<p id="do-bioSigOutput" class="bioSigOutput"></p>

</section>

<script type="text/javascript">
	function downloadJSAtOnload() {
		var element = document.createElement("script");
		element.src = "js/answers.js";
		document.body.appendChild(element);
	}
	if (window.addEventListener)
	window.addEventListener("load", downloadJSAtOnload, false);
	else if (window.attachEvent)
	window.attachEvent("onload", downloadJSAtOnload);
	else window.onload = downloadJSAtOnload;
</script>

{% include _footer.html %}