---
title: Product Template
---

{% include _header.html %}
<section class="container">

	<p>The BioSignature is designed to assess and create protocols of which include information about the following:</p>
	<ul>
		<li>Sleep</li>
		<li>Energy Levels</li>
		<li>Digestion and Gut health</li>
		<li>Toxicity, Detoxification, and Liver Function</li>
		<li>Thyroid function</li>
		<li>Insulin sensitivity</li>
		<li>Androgens (testosterone)</li>
		<li>Growth Hormone</li>
		<li>Estrogen and Women’s Health</li>
		<li>Stress</li>
		<li>Training Analysis</li>
		<li>Menopausal symptoms</li>
		<li>Allergies</li>
		<li>Body Composition (Body Fat/Muscle Mass)</li>
	</ul>

	<form>
		<table class="table">
			<tr>
				<th>Site</th>
				<th>A</th>
				<th>B</th>
				<th>C</th>
			</tr>
			<tr>
				<td>Chin</td>
				<td><input class="radio" type="radio" name="a" value="chin"></td>
				<td><input class="radio" type="radio" name="b" value="chin"></td>
				<td><input class="radio" type="radio" name="c" value="chin"></td>
			</tr>
			<tr>
				<td>Cheek</td>
				<td><input class="radio" type="radio" name="a" value="cheek"></td>
				<td><input class="radio" type="radio" name="b" value="cheek"></td>
				<td><input class="radio" type="radio" name="c" value="cheek"></td>
			</tr>
			<tr>
				<td>Pec</td>
				<td><input class="radio" type="radio" name="a" value="pec"></td>
				<td><input class="radio" type="radio" name="b" value="pec"></td>
				<td><input class="radio" type="radio" name="c" value="pec"></td>
			</tr>
			<tr>
				<td>Thing</td>
				<td><input class="radio" type="radio" name="a" value="thing"></td>
				<td><input class="radio" type="radio" name="b" value="thing"></td>
				<td><input class="radio" type="radio" name="c" value="thing"></td>
			</tr>
		</table>
		<button class="btn do-submitBioSig" type="button">Submit</button>
	</form>
</section>

{% include _footer.html %}