---
title: Frontline Fit
published: true
fitcamp: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem deleniti qui dignissimos, distinctio suscipit temporibus blanditiis nesciunt libero fugiat porro eius consequatur esse beatae sunt iure commodi earum. Repudiandae, cupiditate.
strengthcamp: Lorem ipsum dolor sit amet, consectetur adipisicing elit. At tenetur ex cumque iusto, ad doloribus dolor rerum dignissimos, ducimus amet nihil consequatur fugit sapiente dicta soluta numquam! Error, praesentium, blanditiis!
---

{% include _header.html %}
<div class="jumbotron">
	<div class="container">
		<div class="text-center">
			<span class="h2">Don't get fit<br />get</span>
			<h1 class="text-uppercase">Frontline Fit</h1>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<h2>Choose your course.</h2>
		{% include _thumbnail.html title="Fit Camp" body=page.fitcamp%}
		{% include _thumbnail.html title="Strength Camp" body=page.strengthcamp%}
		{% include _thumbnail.html title="Online Training" body=page.strengthcamp%}
		{% include _thumbnail.html title="Personal Training" body=page.strengthcamp%}
	</div>
</div>
<div class="jumbotron">
	<div class="container">
		<div class="text-center">
			<h2 class="text-uppercase">Can't decide?</h2>
			<a class="btn btn-primary btn-lg">Let us Help!</a>
		</div>
	</div>
</div>
{% include _footer.html %}