---
title: Frontline Fit
published: true
fitcamp: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem deleniti qui dignissimos, distinctio suscipit temporibus blanditiis nesciunt libero fugiat porro eius consequatur esse beatae sunt iure commodi earum. Repudiandae, cupiditate.
strengthcamp: Lorem ipsum dolor sit amet, consectetur adipisicing elit. At tenetur ex cumque iusto, ad doloribus dolor rerum dignissimos, ducimus amet nihil consequatur fugit sapiente dicta soluta numquam! Error, praesentium, blanditiis!
---

{% include _header.html %}
<div class="promo">
	<img src="css/images/promo-getfit.png" alt="" class="promo promo-getfit">
</div>
<section class="container">
	<div class="row">
		<div class="col-xs-12">
			<p class="lead">Front Line Fit offers a number of high level services ranging from 1:1 personal training in the gym,group training outdoors, team building in schools and workplaces, strength and conditioning in the performance centre, dietary &amp; hormonal analysis in the labs. Each one of our trainers at FLF talk the talk and walk the walk, living the same kind of healthy lifestyle we advocate for all of our clients.</p>
		</div>
	</div>
</section>
<section class="container">
	<div class="row">
		{% include _thumbnail.html title="Fit Camp" body=page.strengthcamp%}
		{% include _thumbnail.html title="Strength Camp" body=page.strengthcamp%}
		{% include _thumbnail.html title="Online Training" body=page.strengthcamp%}
		{% include _thumbnail.html title="Personal Training" body=page.strengthcamp%}
	</div>
</section>
<div class="jumbotron">
	<div class="container">
		<div class="text-center">
			<h2 class="text-uppercase">Can't decide?</h2>
			<a class="btn btn-primary btn-lg">Let us Help!</a>
		</div>
	</div>
</div>
<section class="container">
	{% include _suggestQuestion.html question="Want to work in a group?" linkID=0 yesLink=1 noLink=2 %}
	{% include _suggestQuestion.html question="Do you want to bulk or trim?" linkID=1 yesLink=3 noLink=4 %}
</section>

{% include _footer.html %}