---
title: Product Template
social:
  - name: LukeFrake
    type: twitter
    image: https://pbs.twimg.com/profile_images/2636500035/f18167a955952500fa4a79d30b76b4a0.jpeg
    message: Front line fit is awesome!
  - name: LukeFrake
    type: facebook
    image: https://pbs.twimg.com/profile_images/2636500035/f18167a955952500fa4a79d30b76b4a0.jpeg
    message: Front line fit is awesome!
  - name: LukeFrake
    type: google
    image: https://pbs.twimg.com/profile_images/2636500035/f18167a955952500fa4a79d30b76b4a0.jpeg
    message: Front line fit is awesome!
  - name: LukeFrake
    type: twitter
    image: https://pbs.twimg.com/profile_images/2636500035/f18167a955952500fa4a79d30b76b4a0.jpeg
    message: Front line fit is awesome!
  - name: LukeFrake
    type: facebook
    image: https://pbs.twimg.com/profile_images/2636500035/f18167a955952500fa4a79d30b76b4a0.jpeg
    message: Front line fit is awesome!
  - name: LukeFrake
    type: google
    image: https://pbs.twimg.com/profile_images/2636500035/f18167a955952500fa4a79d30b76b4a0.jpeg
    message: Front line fit is awesome!
---

{% include _header.html %}

<section class="container">

	{% for tile in page.social %}
		<div class="social social_{{ tile.type }} col-xs-6 col-sm-4 col-lg-3" >
			<div class="social-inner col-xs-12" style="background-image: url('{{ tile.image }}')">
				<div class="social-filter col-xs-12" >&nbsp;</div>
				<p class="social-name">{{ tile.name }}</p>
				<p class="social-message">{{ tile.message }}</p>
			</div>
		</div>
	{% endfor %}

</section>

{% include _footer.html %}