---
title: Product Template
social:
  - name: LukeFrake
    type: twitter
    image: https://pbs.twimg.com/profile_images/2636500035/f18167a955952500fa4a79d30b76b4a0.jpeg
    message: Front line fit is awesome!
  - name: LukeFrake
    type: facebook
    image: https://pbs.twimg.com/profile_images/2636500035/f18167a955952500fa4a79d30b76b4a0.jpeg
    message: Front line fit is awesome!
  - name: LukeFrake
    type: google
    image: https://pbs.twimg.com/profile_images/2636500035/f18167a955952500fa4a79d30b76b4a0.jpeg
    message: Front line fit is awesome!
  - name: LukeFrake
    type: twitter
    image: https://pbs.twimg.com/profile_images/2636500035/f18167a955952500fa4a79d30b76b4a0.jpeg
    message: Front line fit is awesome!
  - name: LukeFrake
    type: facebook
    image: https://pbs.twimg.com/profile_images/2636500035/f18167a955952500fa4a79d30b76b4a0.jpeg
    message: Front line fit is awesome!
  - name: LukeFrake
    type: google
    image: https://pbs.twimg.com/profile_images/2636500035/f18167a955952500fa4a79d30b76b4a0.jpeg
    message: Front line fit is awesome!
---

{% include _header.html %}

<section class="container">

	{% for tile in page.social %}
		<div class="social social_{{ tile.type }} col-xs-6 col-sm-4 col-lg-3" style="background-image='{{ tile.image }}'">
		  <p class="social-name">{{ tile.name }}</p>
		  <p class="social-message">{{ tile.message }}</p>
		</div>
	{% endfor %}

</section>

<script type="text/javascript">
	function downloadJSAtOnload() {
		var element = document.createElement("script");
		element.src = "js/answers.js";
		document.body.appendChild(element);
	}
	if (window.addEventListener)
	window.addEventListener("load", downloadJSAtOnload, false);
	else if (window.attachEvent)
	window.attachEvent("onload", downloadJSAtOnload);
	else window.onload = downloadJSAtOnload;
</script>

{% include _footer.html %}