.table {
	display: flex;
	flex-wrap: wrap;
	input[type=checkbox], input[type=radio] {
		display: inline-block;
		margin: 5px;
	}
	.table-cell {
		border: 1px solid;
		padding: 0;
		&_header {
			font-weight: 700;
			flex: 0 1 100%;
		}
	}
	.table-row_header {
		margin-top: 1em;
		font-weight: 700;
		.table-cell {
			border: 0;
			padding: 10px 0;
		}
	}
}

.table-row {
	flex: 1 0 100%;
	display: flex;
	&_column{
		flex-direction: column;
	}
}

.table-cell {
	flex: 0 1 40%;
}

.ie {
	.table {
		display: table;
		border-collapse: collapse;
	}
	.table-row {
		display: table-row;
		width: 100%;
	}
	.table-row_header {
		margin-top: 1em;
		font-weight: 700;
		.table-cell {
			border: 0;
			padding: 30px 15px;;
		}
	}
	.table-cell {
		display: table-cell;
		padding: 10px;
		border: 1px solid;
	}
}

@media (min-width: $screen-sm-min) {
	.table .table-cell{
		padding: 10px;
	}
}