---
title: Product Template
---
<section class="container">
	<h1>Service Name</h1>
	<h2>Introduction</h2>
	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit officia, voluptatibus, error, adipisci aperiam necessitatibus sunt ipsum dolorum dicta iste fugiat excepturi officiis accusantium ullam molestiae ad, exercitationem impedit ipsam?</p>
</section>

<!-- Standard button -->
<button type="button" class="btn btn-default">Default</button>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">Primary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">Danger</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link">Link</button>

{{>_contact}}
<section class="container">
	<h2>Course Content</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit officia, voluptatibus, error, adipisci aperiam necessitatibus sunt ipsum dolorum dicta iste fugiat excepturi officiis accusantium ullam molestiae ad, exercitationem impedit ipsam?</p>
</section>
<section class="container">
	<h2>Opening Times</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit officia, voluptatibus, error, adipisci aperiam necessitatibus sunt ipsum dolorum dicta iste fugiat excepturi officiis accusantium ullam molestiae ad, exercitationem impedit ipsam?</p>
</section>
<section class="container">
	<h2>What's it going to cost?</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit officia, voluptatibus, error, adipisci aperiam necessitatibus sunt ipsum dolorum dicta iste fugiat excepturi officiis accusantium ullam molestiae ad, exercitationem impedit ipsam?</p>
</section>
<section class="container">
	<h2>Extra Questions</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit officia, voluptatibus, error, adipisci aperiam necessitatibus sunt ipsum dolorum dicta iste fugiat excepturi officiis accusantium ullam molestiae ad, exercitationem impedit ipsam?</p>
</section>